--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: get
    uri: https://api.myparcel.nl/delivery_options?carrier=postnl&cc=NL&number=679&postal_code=2131bc
    body: 
      string: ""
    headers: 
      Authorization: 
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"data\":{\"delivery\":[{\"date\":\"2016-12-22\",\"time\":[{\"start\":\"08:00:00\",\"end\":\"12:00:00\",\"price\":{\"currency\":\"EUR\",\"amount\":1000},\"price_comment\":\"morning\",\"comment\":\"\",\"type\":1},{\"start\":\"08:30:00\",\"end\":\"13:30:00\",\"price\":{\"currency\":\"EUR\",\"amount\":0},\"price_comment\":\"standard\",\"comment\":\"\",\"type\":2},{\"start\":\"18:00:00\",\"end\":\"21:30:00\",\"price\":{\"currency\":\"EUR\",\"amount\":125},\"price_comment\":\"avond\",\"comment\":\"\",\"type\":3}]},{\"date\":\"2016-12-23\",\"time\":[{\"start\":\"08:00:00\",\"end\":\"12:00:00\",\"price\":{\"currency\":\"EUR\",\"amount\":1000},\"price_comment\":\"morning\",\"comment\":\"\",\"type\":1},{\"sta[...]
