---
http_interactions:
- request:
    method: get
    uri: https://api.myparcel.nl/shipments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[{"barcode":null,"id":18567773,"parent_id":null,"account_id":104343,"shop_id":13812,"shipment_type":1,"recipient":{"cc":"NL","postal_code":"9999ZZ","city":"Amsterdam","street":"Hoofdstraat","street_additional_info":"","number":"1","number_suffix":"","person":"Foo","company":"","email":"","phone":""},"sender":{"cc":"NL","postal_code":"9711AP","city":"Groningen","street":"Emmaplein","number":"1","number_suffix":"","person":"Henk
        Jan Wils","company":"PayPro BV","email":"henkjan@paypro.nl","phone":"+31854011786"},"status":1,"options":{"package_type":3,"delivery_type":2,"delivery_date":"2016-10-30T12:30:00.000+00:00","only_recipient":1,"signature":1,"return":0,"insurance":{"amount":5000,"currency":"USD"},"large_format":0,"label_description":"Iets"},"general_settings":{"save_recipient_address":0},"pickup":null,"customs_declaration":null,"physical_properties":null,"created":"2016-10-05
        20:47:28","modified":"2016-10-05 20:47:28","price":{"currency":"EUR","amount":0},"region":"NL"},{"barcode":null,"id":18567775,"parent_id":null,"account_id":104343,"shop_id":13812,"shipment_type":1,"recipient":{"cc":"NL","postal_code":"9999ZZ","city":"Amsterdam","street":"Hoofdstraat","street_additional_info":"","number":"1","number_suffix":"","person":"Foo","company":"","email":"","phone":""},"sender":{"cc":"NL","postal_code":"9711AP","city":"Groningen","street":"Emmaplein","number":"1","number_suffix":"","person":"Henk
        Jan Wils","company":"PayPro BV","email":"henkjan@paypro.[...]
- request:
    method: get
    uri: https://api.myparcel.nl/shipments/18567773;18567775
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[{"barcode":null,"id":18567773,"parent_id":null,"account_[...]
- request:
    method: post
    uri: https://api.myparcel.nl/shipments
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[{"recipient":{"cc":"NL","postal_code":"9999XX","city":"Amsterdam","street":"Hoofdstraat","number":"1","person":"John
        Doe"},"carrier":1,"options":{"package_type":1},"status":1}]}}'
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
      Content-Type:
      - application/vnd.shipment+json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"ids":[{"id":18923480}]}}'
  recorded_at: Thu, 27 Oct 2016 09:49:31 GMT
[...]
- request:
    method: delete
    uri: https://api.myparcel.nl/shipments/18923677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 27 Oct 2016 10:27:51 GMT
- request:
    method: get
    uri: https://api.myparcel.nl/shipments/18923677
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[],"results":5000,"page":1,"size":0}}'
  recorded_at: Thu, 27 Oct 2016 10:29:41 GMT
- request:
    method: get
    uri: https://api.myparcel.nl/shipments?q=575
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[{"barcode":null,"id":18923678,"parent_id":null,"account_id":104343,"sho[...]
- request:
    method: get
    uri: https://api.myparcel.nl/shipments?dropoff_today=1
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"shipments":[{"barcode":null,"id":18567773,"parent_id":null,"account_id":1[...]
