--- 
http_interactions: 
- request: 
    method: get
    uri: https://api.myparcel.nl/shipments/20126871
    body: 
      string: ""
    headers: 
      Authorization: 
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"data\":{\"shipments\":[],\"results\":5000,\"page\":1,\"size\":0}}"
  recorded_at: Wed, 21 Dec 2016 10:31:11 GMT
recorded_with: VCR 2.9.3
