--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://api.myparcel.nl/shipments
    body: 
      string: "{\"data\":{\"shipments\":[{\"status\":1,\"carrier\":1,\"recipient\":{\"cc\":\"NL\",\"number\":\"1\",\"postal_code\":\"9999XX\",\"city\":\"Amsterdam\",\"street\":\"Hoofdstraat\",\"person\":\"John Doe\"},\"options\":{\"package_type\":1}}]}}"
    headers: 
      Authorization: 
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
      Content-Type: 
      - application/vnd.shipment+json; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"data\":{\"ids\":[{\"id\":20126870}]}}"
  recorded_at: Wed, 21 Dec 2016 10:28:34 GMT
