---
http_interactions:
- request:
    method: post
    uri: https://api.myparcel.nl/webhook_subscriptions
    body:
      encoding: UTF-8
      string: '{"data":{"webhook_subscriptions":[{"hook":"shipment_status_change","url":"https://seoshop.nl/myparcel/notifications"}]}}'
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
      Content-Type:
      - application/json; charset=utf-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"ids":[{"id":84}]}}'
  recorded_at: Fri, 28 Oct 2016 10:55:33 GMT
- request:
    method: get
    uri: https://api.myparcel.nl/webhook_subscriptions/84
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"webhook_subscriptions":[{"id":84,"account_id":104343,"shop_id":13812,"hook":"shipment_status_change","url":"https:\/\/seoshop.nl\/myparcel\/notifications"}]}}'
  recorded_at: Fri, 28 Oct 2016 10:57:55 GMT
recorded_with: VCR 3.0.3
