--- 
recorded_with: VCR 2.9.3
http_interactions: 
- request: 
    method: post
    uri: https://api.myparcel.nl/webhook_subscriptions
    body: 
      string: "{\"data\":{\"webhook_subscriptions\":[{\"hook\":\"shipment_status_change\",\"url\":\"https://seoshop.nl/myparcel/notifications\"}]}}"
    headers: 
      Authorization: 
      - basic NzFmOWZmODIyYmZmMGI3MWFmYjM1YzAxMWNiOGJjODY1MGQ0YmExOQ==
      Content-Type: 
      - application/json; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - application/json;charset=utf-8
    body: 
      string: "{\"data\":{\"ids\":[{\"id\":955}]}}"
  recorded_at: Wed, 21 Dec 2016 10:28:38 GMT
